# Importing the Dependencies

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.feature_extraction.text import TfidfVectorizer # use to convert the textual data into numerical form so that model will able to understand it
from sklearn import metrics

# Data Loading

In [2]:
mail_data=pd.read_csv("/content/mail_data.csv")

In [3]:
# checking the number of rows and columns in the dataframe
mail_data.shape

(5572, 2)

In [4]:
mail_data.columns

Index(['Category', 'Message'], dtype='object')

In [5]:
mail_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  5572 non-null   object
 1   Message   5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [6]:
mail_data.describe()

       Category                 Message
count      5572                    5572
unique        2                    5157
top         ham  Sorry, I'll call later
freq       4825                      30

In [7]:
mail_data.isnull().sum()

Category    0
Message     0
dtype: int64

In [8]:
print(mail_data)

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [9]:
## replace the null values with a null string
mail_data=mail_data.where(pd.notnull(mail_data),"")

In [10]:
mail_data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [11]:
# label encoding
from sklearn import preprocessing as p
label_encoder= p.LabelEncoder()
mail_data["Category"]=label_encoder.fit_transform(mail_data["Category"])

In [12]:
# 0 is for ham and 1 is for spam
mail_data.head()

   Category                                            Message
0         0  Go until jurong point, crazy.. Available only ...
1         0                      Ok lar... Joking wif u oni...
2         1  Free entry in 2 a wkly comp to win FA Cup fina...
3         0  U dun say so early hor... U c already then say...
4         0  Nah I don't think he goes to usf, he lives aro...

In [13]:
# separating the data as texts and label
X=mail_data["Message"]
y=mail_data["Category"]

In [14]:
#Spliting the data
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=5)

In [15]:
# transform the text data to feature vectors that can be used as input to the Logistic regression
feature_extraction=TfidfVectorizer(min_df=1,stop_words="english",lowercase=True)
X_train_feature=feature_extraction.fit_transform(X_train)
X_test_feature= feature_extraction.transform(X_test)

# convert Y_train and Y_test values as integers
y_train=y_train.astype("int")
y_test=y_test.astype("int")

In [16]:
print(X_train_feature)

  (0, 3916)	0.6037953148318957
  (0, 3056)	0.3429005562464134
  (0, 4893)	0.6433735801583021
  (0, 3068)	0.32236758935606574
  (1, 5720)	0.6023019309762907
  (1, 6542)	0.5742615392242952
  (1, 3970)	0.2895925989409213
  (1, 6110)	0.4728553638784458
  (2, 53)	0.2275977849591067
  (2, 5502)	0.16144032675968542
  (2, 1582)	0.2275977849591067
  (2, 6557)	0.21161850376233796
  (2, 260)	0.19690190061164803
  (2, 4387)	0.1624258510707269
  (2, 4347)	0.2040320228676743
  (2, 2878)	0.4232962626786592
  (2, 434)	0.2587500279452028
  (2, 2182)	0.27253511506960687
  (2, 4988)	0.1604825674220973
  (2, 1850)	0.21615833183721392
  (2, 453)	0.2587500279452028
  (2, 4630)	0.18805274167090552
  (2, 4587)	0.16079883210369647
  (2, 7099)	0.14954143140130233
  (2, 635)	0.29610087716103933
  :	:
  (4454, 2954)	0.5425177822436338
  (4454, 4823)	0.5172606639045361
  (4454, 3557)	0.5172606639045361
  (4454, 3064)	0.41298579528057155
  (4455, 5046)	0.5672102378436935
  (4455, 5597)	0.5672102378436935
  (4455, 4039)	0.39560309040558683
  (4455, 2525)	0.4472619892547883
  (4456, 2638)	0.30597459416799505
  (4456, 5540)	0.30597459416799505
  (4456, 4845)	0.2917298324540132
  (4456, 563)	0.2917298324540132
  (4456, 6531)	0.2737835550988689
  (4456, 6904)	0.23291985119000655
  (4456, 5056)	0.17466313970905117
  (4456, 3545)	0.24021461765587865
  (4456, 6582)	0.28162301317533217
  (4456, 5509)	0.25313348974736855
  (4456, 7159)	0.24608354591083306
  (4456, 4332)	0.1901855660480611
  (4456, 6101)	0.16362766975061835
  (4456, 4716)	0.2108356313995615
  (4456, 4385)	0.22017028981240724
  (4456, 3284)	0.1935991136413851
  (4456, 5502)	0.16682368163258793

In [17]:
# training the Logistic Regression model with the training data
model=LogisticRegression()
model.fit(X_train_feature,y_train)

LogisticRegression()

In [18]:
# prediction on training data
from sklearn.metrics import accuracy_score
prediction_on_training_data=model.predict(X_train_feature)
accuracy_on_training_data=accuracy_score(y_train,prediction_on_training_data)
print("Accuracy On trainig data is :- " ,accuracy_on_training_data)

Accuracy On trainig data is :-  0.9676912721561588

In [19]:
# prediction on test data
prediction_on_test_data=model.predict(X_test_feature)
accuracy_on_test_data=accuracy_score(y_test,prediction_on_test_data)
print("Accuracy On trainig data is :- " ,accuracy_on_test_data)

Accuracy On trainig data is :-  0.9605381165919282

# Building a Predictive System

In [20]:
input_mail=["I've been searching for the right words to thank you for this breather. I promise i wont take your help for granted"]
# convert text to feature vectors
input_feature_extraction=feature_extraction.transform(input_mail)
# making prediction
prediction=model.predict(input_feature_extraction)
#print(prediction)

if (prediction[0]==1):
  print("Spam mail")
else:
  print("Ham mail")

Ham mail